h1{
    margin-left: 1.5%;
    color: #3DD4D2;
}

.header-elements{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    margin-right: 1%;
    height: 70%;
    width: 25%;
}

button{
    height: 100%;
    width: 48%;
    background-color: #409EBC;
    border-radius: 30px;
    border-width: 0;
    color: azure;
    font-size: 150%;
    outline: none;
}

article{
    margin-top: 5%;
    font-size: 250%;
    text-align: center;
    width: 80%;
}

.white-text{
    color: white;
}

.remind-me-text{
    color: #3DD4D2;
}

