@import "general.css";

html{
    overflow: hidden;
}

.main{
    justify-content: space-between;
}

.header-div{
    width: 270px;
}

.upcoming-tasks-bar{
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    background-color: var(--upcoming-tasks-bar-color);
}

.upcoming-tasks-bar__list{
    min-width: 95%;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(19, 1fr);
}

.upcoming-tasks-bar__item{
    height: inherit;
    min-width: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 0.05rem 3fr;

    background: linear-gradient(115deg, var(--task-color-from), var(--task-color-to) );
}

.bar-item__time{
    margin-top: 1px;
    align-self: center;

    color: var(--text-secondary-color);

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bar-item__color{
    height: 15px;
    width: 15px;

    font-size: 14px;
    text-align: center;

    align-self: center;
    justify-self: center;

    border-radius: 50%;
}

.bar-item__hr{
    width: 95%;
    justify-self: center;
    color: var(--text-secondary-color);
    background-color: var(--text-secondary-color);

    grid-column-start: 1;
    grid-column-end: 5;
}

.bar-item__definition{
    height: 100%;
    font-size: 13px;
    padding-left: 2px;
    align-self: center;
    justify-self: center;

    color: var(--text-secondary-color);

    overflow: hidden;
    word-wrap: anywhere;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.upcoming-tasks-bar__button{
    min-width: 75px;
    font-size: 30px;

    transition-duration: 1s;
    transition-property: transform;

    color: var(--text-secondary-color);
    background-color: transparent;
    cursor: pointer;
}

.upcoming-tasks-bar__button:hover{
    border: none;
    transform: rotate(180deg);
}

.upcoming-tasks-bar__button:not(hover){
    transform: rotate(0deg);
}

.calendar-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-actions__button{
    width: 100px;
    color: var(--text-secondary-color);
    background-color: var(--header-color);
}

.calendar-views{
    width: auto;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.calendar-views__button{
    height: 50px;
    width: 120px;

    font-size: 17px;

    color: var(--text-secondary-color);
    background-color: var(--header-color);
}

.calendar-views__button_focused{
    border: 1px solid var(--text-secondary-color);
}

.calendar-views__button_focused{
    height: 55px;
}

.calendar-views__button_focused,
.calendar-views__button:hover,
.calendar-actions__button:hover,
.view-control__buttons:hover,
.view-control__select:hover{
    border: 1px solid var(--text-secondary-color);
    border-bottom-color: transparent;
}

.view-control{
    width: auto;
    display: flex;
}

.view-control__button{
    width: 60px;

    border: 1px solid var(--text-secondary-color);
    border-bottom-color: transparent;

    font-size: 20px;
    color: var(--text-secondary-color);
    background-color: var(--header-color);
}

.view-control__select{
    width: auto;
    font-size: 15px;

    border-top: 1px solid var(--text-secondary-color);
    color: var(--text-secondary-color);
    background-color: var(--header-color);
}

.view-control__select > option{
    font-size: 15px;
}

.calendar-border{
    height: 470px;
    background-color: white;
}

.calendar-wrapper{
    height: 520px;
    width: 100%;

    margin-bottom: 3px;
}

.calendar{
    width: 100%;
    height: inherit;

    padding-top: 1px;
    display: grid;
    grid-template: 1fr repeat(5, 2.5fr)/repeat(7, 1fr);

    column-gap: 1px;
    row-gap: 1px;
}

.calendar__day:hover{
    border: 2px solid var(--text-primary-color);
}

.calendar__day-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar > div,
.calendar > span{
    background-color: var(--header-color);
}

.day{
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.day-tasks{
    width: 100%;

    display: grid;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
}


.day-tasks__color{
    height: 18px;
    width: 18px;

    font-size: 16px;
    text-align: center;

    align-self: flex-start;
    justify-self: center;

    border-radius: 50%;
}


.calendar__day-name:nth-child(7),
.day:nth-child(7n){
    color: red;
}
