@import "general.css";

.main{
    justify-content: center;
}

.login-form{
    height: 375px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form__content{
    width: 100%;
    height: 250px;
    border-radius: 30px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--form-content-color);
}

.login-form__input{
    width: 90%;
    height: 80px;
    padding-left: 20px;
    border-radius: 30px;
    font-size: 20px;

    color: var(--form-input-text-color);
    background-color: var(--form-input-color);
}

.login-form__input::placeholder{
    color: var(--form-input-text-color);
}

.login-form__button{
    width: 100%;
    height: 75px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px) {
    .login-form{
        height: 700px;
        width: 800px;
    }

    .login-form__content{
        height: 450px;
        border-radius: 50px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .login-form__input{
        width: 90%;
        height: 160px;
        padding-left: 20px;
        font-size: 40px;
    }

    .login-form__button{
        height: 140px;
        border-radius: 50px;
        font-size: 40px;
    }
}